.personal-element{
    width: 80%;

    .personal-element-txt{
        margin-right: 2rem;

        ul{
            list-style: disc;
        }

        p{
            font-weight: 300;
            margin-bottom: 1rem;
        }
    }
}
