.contact{
    margin: 5rem 0;
    padding: 0 10%;
    width: 80%;

    .contact-info{
        display: flex;
        flex-wrap: wrap;
        padding: 20% 0;

        .contact-info-option-text{
            font-weight: 600;
        }
    
        .contact-info-option{
            display: flex;
            flex-direction: row;
            margin-bottom: 1.5rem;
            width: 100%;
    
            .contact-info-option-icon{
                margin-right: .5rem;
        
                svg{
                    height: 2rem;
                    width: 2rem;
        
                    path{
                        fill: $secondary-color;
                    }
                }
            }     
        }
    }
    
    .contact-form-element{
        margin-right: .5rem;
    
        .contact-form-element-label{
            font-weight: 600;
            margin-bottom: .5rem;
        }
        
        .contact-form-element-input{
    
            input{
                border: .1rem solid;
                border-bottom: .2rem solid $secondary-color;
                border-radius: .25rem;
                margin-bottom: .5rem;
                padding: .2rem 0;
                width: 100%;
            }
    
            textarea{
                border: .1rem solid;
                border-bottom: .2rem solid $secondary-color;
                border-radius: .25rem;
                height: 16rem;
                resize: none;
                width: 100%;
            }
        }   
    }
    
    .contact-form-element-button{
        margin-top: 1rem;

        button{
            background-color: white;
            border: .2rem solid $secondary-color;
            border-radius: .25rem;
            color: $secondary-color;
            float: right;
            font-weight: 600;
            padding: 1rem .5rem;
            width: 20%;
        }
    }
}