//z-index
$z-index-featured-image: 1000;
$z-index-slider-image: 1000;
$z-index-featured-elements: 1001;
$z-index-slider-elements: 1001;
$z-index-header: 2000;
$z-index-overlay: 5001;
$z-index-hamburguer: 5002;
$z-index-spinner: 5002;

//typography
$font-stack: "Ubuntu", sans-serif;
$font-stack-condensed: "Ubuntu Condensed", sans-serif;

//palette
$primary-color: hsl(51, 100%, 94%);
$primary-color-light: hsl(317, 100%, 32%);
$secondary-color: hsl(271, 97%, 26%);
$button-color: hsl(37, 100%, 64%);
$border-button: hsl(14, 100%, 65%);

//style
$text-border: 2px 2px 4px #000000;