//z-index
$z-index-featured-image: 1000;
$z-index-slider-image: 1000;
$z-index-featured-element-image: 1001;
$z-index-featured-element-title: 1002;
$z-index-slider-elements: 1001;
$z-index-header: 2000;
$z-index-overlay: 5001;
$z-index-hamburguer: 5002;
$z-index-spinner: 5002;
$z-index-topbar: 10000;

//typography
$font-stack: "Ubuntu", sans-serif;
$font-stack-condensed: "Ubuntu Condensed", sans-serif;

//palette
$primary-color: rgb(255, 185, 71);
$primary-color-light: hsl(37, 100%, 74%);
$secondary-color: hsl(271, 97%, 26%);
$secondary-color-light: hsl(287, 57%, 57%);

//style
$text-border: 2px 2px 4px #000000;