img {
    max-width: 100%;
}

.hidden{
    opacity: 0;
}

.main-content{
    padding: 0 5%;
}

.one-column{

    .form-group{
        width: 100%;
    }
}

.two-columns{
    display: flex;
    justify-content: space-between;

    .form-group{
        width: 47%;
    }
}

.two-columns-aside{
    display: flex;
    
    .column-aside{
        width: 30%;
    }

    .column-main{
        width: 70%;
    }
}

.three-columns{
    display: flex;
    justify-content: space-between;

    .form-group{
        width: 32%;
    }
}

.four-columns{
    display: flex;
    justify-content: space-between;

    .form-group{
        width: 23%;
    }
}

.five-columns{
    display: flex;
    justify-content: space-between;

    .form-group{
        width: 18%;
    }

    .column{
        width: 18%;
    }
}