.menu{
    margin: 5rem auto;
    width: 75%;

    .menu-elements{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;

        .menu-element{

            button{
                background-color: transparent;
                border: 0;
        
                svg{
                    height: 4rem;
                    width: 4rem;
            
                    path{
                        fill: white;
                    }
                }
            }
        
            h2{
                color: white;
                text-align: center;
            }
        }

    }
}