.admin-table{
    margin-top: 1rem;

    .admin-table-elements{
        border: 1px solid $secondary-color;
        display: flex;
        justify-content: space-between;
        margin: .5rem auto;
    
        .admin-table-element-info{
            display: flex;
            flex-direction: column;
            margin: auto 1rem;
    
            .info-element{
                line-height: 1rem;
                width: 100%;
            }
        }
    
        .admin-table-element-buttons{
            margin: auto 0;

            .admin-table-element-button{

                button{
                    background: transparent;
                    border: 0;
        
                    svg{
                        height: 2rem;
                        width: 2rem;
        
                        path{
                            fill: $secondary-color;
                        }
                    }
                }
        
                button:hover{
                    svg{
                        path{
                            fill: $primary-color-light;
                        }
                    }
                }
            }
        }
    }
}