.topbar{
    background-color: $secondary-color;
    height: 5vh;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z-index-topbar;

    .topbar-elements{
        display: flex;
        flex-wrap: nowrap;
        margin: auto 1rem;
    }

    .topbar-element{
        margin: auto 1rem;

        button{
            background: transparent;
            border: transparent;
            cursor: pointer;

            svg{
                height: 2rem;
                width: 2rem;
    
                path{
                    fill: white;
                }
            }
        }
    }
}