body{
    background-color: white;
    display:flex; 
    flex-direction:column;    
    min-height: 100vh;
    width: 100%;
}

.main{
    margin-top: 5rem;
}

.page-section{
    width: 100%;
}

.desktop-only{
    display: revert;
}

.mobile-only{
    display: none;
}