.slider{
    height: 30vh;
    margin-bottom: 2rem;
    position: relative;
    top: 7vh;
    width: 100%;

    .slider-image{
        max-height: 30vh;
        overflow: hidden;
        position: absolute;
        z-index: $z-index-slider-image;
        width: 100%;
    }

    .slider-title{
        padding: 1.5rem 1rem;
        position: absolute;
        left: 3%;
        top: 2vh;
        z-index: $z-index-slider-elements;
        
        h2{
            color: white;
        }
    }
    
    .slider-button{
        position: absolute;
        left: 8%;
        top: 10vh;
        z-index: $z-index-slider-elements;
    }
}



