.textual-banner{
    display: flex;
    margin: 3rem auto;
    width: 90%;

    .textual-banner-title{
        margin-bottom: 1.5rem;

        h3{
            color:  $secondary-color-light;
            font-size: 1.3rem;
            font-weight: 700;
            text-decoration: underline;
        }
    }

    .textual-banner-description{
        margin: 1rem 0;

        p{
            font-size: 1.5rem;
            font-weight: 400;
        }
    }

    .textual-banner-image{
        
        width: 100%;

        img{
            border-radius: .5rem;
            max-width: 100%;
        }
    }
}