.page-title{
    background: $primary-color-light;
    background: radial-gradient(circle, $secondary-color 0%, $secondary-color 30%, $primary-color-light 50%,white 90%, white 100%);
    padding: 4rem 0;
    text-align: center;
    width: 100%;

    h1{
        color: white;
    }

    h2{
        color: white;
        font-size: 1.5rem;
    }
}