.swich-button{
  display: flex;
  margin: auto;
  margin-bottom: 3rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2rem;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider-bar {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $primary-color;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

.xl {
  margin: auto 1rem;
  width: 7.5rem;
}

.slider-bar:before {
  position: absolute;
  content: "";
  height: 1.6rem;
  width: 1.6rem;
  left: .25rem;
  bottom: .25rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-bar {
  background-color: hsl(14, 100%, 65%);
}

input:checked + .slider-bar:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.xl input:checked + .slider-bar:before {
  -webkit-transform: translateX(86px);
  -ms-transform: translateX(86px);
  transform: translateX(86px);
}

.slider-bar.round {
  border-radius: 2rem;
}

.slider-bar.round:before {
  border-radius: 50%;
} 