main{

    .home{

        .text-info{
            background-color: $primary-color-light;
            line-height: 2rem;
            margin: 3rem 0;
            padding: 3rem 0;

            h3{
                color: white;
                margin: auto 3rem;
                text-align: center;
            }

        }
    }
}